In [1]:
# Import dependencies
import pandas as pd

In [2]:
# Read the csv files into data frames
happiness_data = pd.read_csv("world_happiness_2019.csv")
world_bank_data = pd.read_csv("world_bank_2019.csv")
happiness_data.head()

,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
0,1,Finland,7.769,1.340,1.587,0.986,0.596,0.153,0.393
1,2,Denmark,7.600,1.383,1.573,0.996,0.592,0.252,0.410
2,3,Norway,7.554,1.488,1.582,1.028,0.603,0.271,0.341
3,4,Iceland,7.494,1.380,1.624,1.026,0.591,0.354,0.118
4,5,Netherlands,7.488,1.396,1.522,0.999,0.557,0.322,0.298

In [3]:
# Reduce world bank dataset to country name and year
workforce_gender_ratios = world_bank_data[['Country Name', '2019 [YR2019]']]

# Rename 2019 column to Gender Ratio and Country Name to Country
workforce_gender_ratios = workforce_gender_ratios.rename(columns={'Country Name': 'Country',
                                                                  '2019 [YR2019]': 'Workforce Gender Ratio'})

# Remove countries that do not have workforce gender ratios from the dataset
workforce_gender_ratios = workforce_gender_ratios.loc[workforce_gender_ratios['Workforce Gender Ratio'] != '..']
workforce_gender_ratios.head()

       Country Workforce Gender Ratio
0  Afghanistan       29.2002147074611
1      Albania       77.1390767421347
2      Algeria        25.103305785124
5       Angola       96.5617863486425
7    Argentina       70.6092697015541

In [4]:
# Set the indeces of the world happiness data to be overall rank
happiness_data = happiness_data.set_index('Overall rank')
happiness_data = happiness_data.rename(columns={'Country or region': 'Country'})
happiness_data.head()

,Country,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
Overall rank,,,,,,,,
1,Finland,7.769,1.340,1.587,0.986,0.596,0.153,0.393
2,Denmark,7.600,1.383,1.573,0.996,0.592,0.252,0.410
3,Norway,7.554,1.488,1.582,1.028,0.603,0.271,0.341
4,Iceland,7.494,1.380,1.624,1.026,0.591,0.354,0.118
5,Netherlands,7.488,1.396,1.522,0.999,0.557,0.322,0.298

In [5]:
# Merge the two datasets on country
merged_data = pd.merge(happiness_data, workforce_gender_ratios, on='Country', how='inner')
merged_data.head()

,Country,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,Workforce Gender Ratio
0,Finland,7.769,1.340,1.587,0.986,0.596,0.153,0.393,88.4743610096841
1,Denmark,7.600,1.383,1.573,0.996,0.592,0.252,0.410,86.8417104276069
2,Norway,7.554,1.488,1.582,1.028,0.603,0.271,0.341,89.7496667160421
3,Iceland,7.494,1.380,1.624,1.026,0.591,0.354,0.118,89.4508854631163
4,Netherlands,7.488,1.396,1.522,0.999,0.557,0.322,0.298,84.757937078006

In [ ]:
# Output the dataframe as a csv file
merged_data.to_csv("output/merged_data.csv", index=False, header=True)